*.pyc
data.txt
2023/Godot/Data/Day1/Default.txt
2023/Godot/Data/Day2/Default.txt
2023/Godot/Data/Day3/Default.txt
2023/Godot/Data/Day4/Default.txt
2023/Godot/Data/Day5/Default.txt
2023/Godot/Data/Day6/Default.txt
2023/Godot/Data/Day7/Default.txt

